* {
    /* padding: 10px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1E1D1B;
}

html {
    background-color: #FFF;
}

/* body style */
body {
    margin: 50px;
}

body p {
    font-size: 2rem;
    color: #1E1D1B;
    font-weight: bold;
}

.container {
    padding: 0;
    justify-content: space-between;
}

.btn-learn {
    font-weight: bold;
}

/* article style */
.article {
    background-color: #9E57FA;
    border-radius: 20px;
    margin-top: 1rem;
}

.article p {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: bold;
    line-height: 2rem;
}

.row {
    padding: 0;
    margin: 0;
}

.meow {
    display: flex;
    justify-content: space-around;
}